<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- You can also include your custom CSS file here -->
</head>
<body>
 <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mb-4">{{ email }}</h2>
                    <form action="/change_password" method="post" novalidate class="needs-validation" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.email_code.label(class_="form-label") }}
                            {{ form.email_code(class_="form-control", size=32, aria_describedby="usernameHelpBlock") }}
                            {% if form.email_code.errors %}
                                <div id="codeHelpBlock" class="form-text text-danger">
                                    {% for error in form.email_code.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div id="codeHelpBlock" class="form-text">
                                    Enter the code sent to your email..
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label(class_="form-label") }}
                            {{ form.password(class_="form-control", size=32, aria_describedby="passwordHelpBlock") }}
                            {% if form.password.errors %}
                                <div id="passwordHelpBlock" class="form-text text-danger">
                                    {% for error in form.password.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div id="passwordHelpBlock" class="form-text">
                                    Enter your password.
                                </div>
                            {% endif %}
                        </div>
                     <div class="mb-3">
                            {{ form.password2.label(class_="form-label") }}
                            {{ form.password2(class_="form-control", size=32, aria_describedby="passwordHelpBlock") }}
                            {% if form.password2.errors %}
                                <div id="passwordHelpBlock" class="form-text text-danger">
                                    {% for error in form.password2.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div id="passwordHelpBlock" class="form-text">
                                    Repeat Password.
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
    </script>
</body>

</html>